<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Map</title>

    <!--<link rel="stylesheet" type="text/css" href="static/bootstrap4/css/bootstrap.css" >-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/css/sidebar_left.css" type="text/css">
    <link rel="stylesheet" href="static/css/mapa.css" type="text/css">
    <link rel="stylesheet" href="static/leaflet/leaflet.css">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <script src="static/leaflet/leaflet.js"></script>

    <!--<script src="static/bootstrap4/js/bootstrap.js" ></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="static/js/map.js"></script>
</head>

<body>

 <div class="d-flex" id="wrapper">

     {% include 'sidebar_left.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper" style="background-color: #FB5F3C;">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" style="background-color: #FB5F3C; border-color: white;" id="menu-toggle"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="form_person">Add user <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Active teachers</a>
                <a class="dropdown-item" href="#">Inactive teachers</a>
                  <a class="dropdown-item" href="#">Stand by teachers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Teaching entities</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

        <div id="mapid" class="map-container-5 mapid rounded">

        </div> <!-- Este es el mapa -->

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
</div>
</div>

<script>
var mymap = L.map('mapid').setView([-2.247260,-79.896464], 10);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

set_map(mymap, {{ profesores | tojson }}, {{ unidades | tojson }});

</script>
</body>
    <script src="static/js/easypiechart.js"></script>
	<script src="static/js/easypiechart-data.js"></script>
    <script src="static/js/sidebar_left.js"></script>

</html>

