<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">HumanMindset.org </div>
      <div class="list-group list-group-flush">
        <!--<a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>-->
      </div>
        <hr/>
        <div class="row justify-content-center">
                <div class="panel panel-default border-right">
                    <table>
                        <tr><td><em class="fa fa-2x fa-user-circle-o"></em></td></tr>
                        <tr><td><div id="count_docentes" class="cant">0</div></td></tr>
                        <tr><td style="text-align: center;"><div class="cant_title">Enrolled teachers</div></td></tr>
                    </table>
                </div>

                <div class="panel panel-default">
                    <table align="center">
                        <tr><td><em class="fa fa-2x fa-university"></em></td></tr>
                        <tr><td><div id="count_inst" class="cant">0</div></td></tr>
                        <tr><td><div class="cant_title">Registered institutions</div></td></tr>
                    </table>
				</div>
			</div>

        <hr/>
        <div class="row justify-content-center">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<p class="title_teacher">Active Teachers</p>
						<div class="easypiechart" id="easypiechart-green" data-percent="0" ><span id="teacher_a" class="percent">0%</span></div>
					</div>
				</div>
        </div>
        <div class="row justify-content-center">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<p class="title_teacher">Inactive Teachers</p>
						<div class="easypiechart" id="easypiechart-red" data-percent="0" ><span id="teacher_i" class="percent">0%</span></div>
					</div>
				</div>
        </div>
        <div class="row justify-content-center">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<p class="title_teacher">Stand By Teachers</p>
						<div class="easypiechart" id="easypiechart-orange" data-percent="0" ><span id="teacher_s" class="percent">0%</span></div>
					</div>
				</div>
        </div>


       <!--<div class="row justify-content-center">
    <div class="text-foot">
    <ul>
        <li>Door-to-door</li>
        <li>Microlearning</li>
        <li>Network</li>
        </ul>
    </div>
</div>-->

    </div>
    <!-- /#sidebar-wrapper -->